<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ValidatorCMMDC</servlet-name>
        <servlet-class>ValidatorCMMDC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidatorCMMDC</servlet-name>
        <url-pattern>/ValidatorCMMDC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Cmmdc</servlet-name>
        <servlet-class>Cmmdc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cmmdc</servlet-name>
        <url-pattern>/Cmmdc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OptiuneServlet</servlet-name>
        <servlet-class>OptiuneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OptiuneServlet</servlet-name>
        <url-pattern>/OptiuneServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidatorPrim</servlet-name>
        <servlet-class>ValidatorPrim</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidatorPrim</servlet-name>
        <url-pattern>/ValidatorPrim</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Prim</servlet-name>
        <servlet-class>Prim</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prim</servlet-name>
        <url-pattern>/Prim</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>Start</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
</web-app>